@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
.container
{
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.panel
{
    border-radius: 50px;
    height: 80vh;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.7s;
}

.panel.active
{
    flex: 5;
}

.panel h3
{
    opacity: 0; 
    position: absolute;
    bottom: 20px;
    left: 36px;
}

.panel.active h3
{
    opacity: 1; 
    transition: 1.5s;
}
